.card  {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.button {
  font-size: 15px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  cursor: pointer;
}

.input-width {
  width: 100%;
}

.button-cancel {
  width: 100%;
  max-width: 452px;
  margin-top: 10px;
}

.input-container {
  display: flex;
  gap: 30px;
}

.title {
  font-size: 24px;
  padding: 10px;
}
