.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.img {
  padding: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-width {
  width: 80%;
}

.button {
  width: 80%;
  height: 50px;
}
